{% extends "journal/base.html" %}
{% load humanize %}
{% block content %}

<h2>ALL JOURNALS</h2>
<a href="{% url 'journal_create' %}"><button class="btn btn-primary" type = "submit">Add a New Journal</button></a>
<div>
<br>
   {% for journal in journals %}
    <div class="list-group">
        <div href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ journal.title }}</h5>
                <small class="btn btn-outline-dark">{{ journal.date_created|naturaltime }}</small>
            </div>

            <p class="mb-1">{{ journal.description| truncatechars:120}}</p>
            <div class="links">
                <a class="btn btn-sm btn-success" href="{% url 'update_journal' journal.id %}">Update </a> 
                <a class="btn btn-sm btn-danger" href="{% url 'delete_journal' journal.id %}">Delete</a>
            </div>
        </div>
    </div>
    <br>
   {% endfor %}
{% endblock %}

</div>